* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* header styles*/
.header-top {
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 35.5px;
    padding-left: 35.5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-nav {
    line-height: 1em;
    white-space: nowrap;
}

.header-font {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.2em;
    margin: 0.618em;
    text-transform: uppercase;
}

.remove-underline {
    text-decoration: none;
}

.header-branding-logo {
    max-width: 145px;
    width: 100%;
}

/* body styles*/

/* Menus*/
.menu-background-style {
    background-color: #FFFFFF;
    height: 100%;
    width: 100vw;
}

.main-container-style {
    color: #171717;
    padding: 10em 10em 0em 10em;
}

.title-container-style {
    padding: 1em 22em 2em 22em;
}

.main-title-style {
    font-family: 'EB Garamond', serif;
    font-size: 1.88em;
    font-weight: lighter;
    letter-spacing: 0.03em;
}

.horizontal-rule-style {
    color: #FFFFFFCC;
    margin-top: 3em;
}

.big-container-style {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.columns-container-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 28%;
}

.small-container-style {
    display: flex;
    flex-direction: column;
    margin: 1em 4em 1em 0em;
    width: 76%;
}

.titles-menu-style {
    color:  #171717CC;
    font-family: 'Andada Pro', serif;
    font-size: 0.96em;
    font-weight: bold;
    margin-bottom: 0.3em;
    letter-spacing: 0.010em;
}

.paragraph-style {
    color:  #171717CC;
    font-family: 'Andada Pro', serif;
    font-size: 0.8em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    line-height: 1.6;
}

.bottom-container-style {
    padding-bottom: 18em;
}

/*footer*/
.footer-background-style {
    background-color: #171717;
    height: 100%;
    width: 100vw;
}

.footer-contanier-style {
    padding: 10em 13em 10em 13em;
}

.footer-socialmedias-style {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: 1.2em;
    letter-spacing: 0.10em;
    margin-bottom: 1em;
}

.footer-paragraph-style {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;
    line-height: 1.6;
    word-spacing: 5px;
}

/*hover*/
.hand {
    cursor: pointer;
}

:hover.hand-header {
    color: #7c7c7ca4;
}

:hover.hand-footer {
    color: #b9b5b5a4;
}
  